.Rproj.user
.Rhistory
.RData
.Ruserdata
.gitignore
mev.Rproj
src/*.o
src/*.so
src/*.dll
.travis.yml
data/padova.rda
data/zurichrain.rda
data/italcent.rda
man/italcent.Rd
inst/rawdata
cran-comments.md
revdep/*
CRAN-SUBMISSION
